<!-- This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016 -->
<!-- 
	03/14/19
	Christel Anne Espino
		Created the template
 -->
{% extends "maincalendar/index.html" %}
{% block content %}

{% for announcement in announcement_list %}
	<h6> {{ announcement.date_posted }} </h6>
	<h3> {{ announcement.event }} </h3>
	<h6> {{ announcement.body }} </h6>

{% endfor %}			  
{% endblock content %}