<!-- This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016 -->
<!-- 
	03/14/19
	Christel Anne Espino
		Created the template
 -->
{% extends "maincalendar/index.html" %}
{% load static %}
{% block content %}
	<div class="title-header">
			<p>
				<a class="back-button" href="{{request.META.HTTP_REFERER}}">
	          		<img src="{% static 'maincalendar/Back_Arrow.png' %}"/>
	          	</a>
	          	<b>All Announcements</b>
	        </p>
	</div>
	{% for announcement in announcement_list %}
	<div class="mt-1 px-5 py-2 border-top">
			<h4><b> {{ announcement.event }} </b></h4>
			<h5> {{ announcement.subject }} </h5>
			<p style="font-size: 9pt;">{{ announcement.date_posted }}</p>
			<p>{{ announcement.body }}</p>
	</div>		  
	{% endfor %}	
{% endblock content %}