<!--#This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016-->

<!--
02/08/19
Allure Tanquintic
	added crispy form layout
	added buttons
	added the other details to be displayed
03/20/2019
	Patrick Joseph Sanchez
    	added Join Button
03/21/2019
	Christel Espino
		Fixed join event
04/09/2019
	Allure Tanquintic
		Updated UI    	
04/23/2019
	Allure Tanquintic
		Fixed Bookmarks and Join event UI
 -->

{% extends "maincalendar/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class="title-header">
		<p>
			<a class="back-button" href="{% url 'maincalendar' %}">
          		<img src="{% static 'maincalendar/Back_Arrow.png' %}"/>
          	</a>
          	<b>{{ object.title }}</b>
        </p>
	</div>

	<div class = "pt-2 px-4">
		<span style = "font-size: 13pt;">Hosted By: {{ org }}</span>
		<hr>
	</div>

	<div class="columnsContainer">
		<div class="leftColumn-eventDetail">
			{% if user.is_authenticated%}
			 	{% if not user.is_staff %}
					{% if user_bookmarked %}
					    <form action="{% url 'removebookmark' %}" method="GET">
							<input type="hidden" value="{{ object.id }}" name="event" id="event">
							<span data-toggle="tooltip" data-placement="bottom" title="Remove bookmark">
								<input class="bm" type="image" src="{% static 'maincalendar/bm-filled.svg' %}" alt=”submit” name=”submit”>
							</span>
						</form>
					{% else %}
						<form action="{% url 'addbookmark' %}" method="GET">
							<input type="hidden" value="{{ object.id }}" name="event" id="event">
							<span data-toggle="tooltip" data-placement="bottom" title="Bookmark this event">
								<input class="bm" type="image" src="{% static 'maincalendar/bm-hollow.svg' %}" alt=”submit” name=”submit”>
							</span>
						</form>
					{% endif %}
				{% endif %}
			{% endif %}

			<p style="margin-left: 5px; margin-top: 1em;"><span class="dot mr-2"></span>{{ object.event_type }}</p>

			<p style="color: #008080; margin-left: 5px;">Start: 
				<span style="color: #000">
				{{ object.date_start }}
				{% if object.time_start %}
					, {{ object.time_start }}
				{% endif %}
				</span>
			</p>
			<p style="color: #008080; margin-left: 5px;">End: 
				<span style="color: #000">
				{{ object.date_end }}
				{% if object.time_end %}
					, {{ object.time_end }}
				{% endif %}
				</span>
			</p>
			{% if object.venue %}
			<p style="color: #008080;">Venue: 
				<span style="color: #000">
					{{ object.venue }}
				</span>
			</p>
			{% endif %}
			<p style="color: #008080; margin-left: 5px;">Degree Program Restriction: 
				<span style="color: #000">
					{% if object.deg_prog %}
						{{ object.deg_prog }}
					{% else %}
						None
					{% endif %}
				</span>
			</p>
			<p style="color: #008080; margin-left: 5px;">College Restriction: 
				<span style="color: #000">
					{% if object.college %}
						{{ object.college }}
					{% else %}
						None
					{% endif %}
				</span>
			</p>
			<span class = "about"><b>ABOUT THE EVENT</b></span>
			<p class="mt-3 mx-5"> {{ object.description|linebreaks }}</p>

			
		</div>

		<div class="rightColumn-eventDetail">
			{% if messages %}
	            {% for message in messages %}
	            	<p>{{ message }}</p>
	            {% endfor %}
	        {% endif %}
			<span class = "about"><b>Participants</b></span>
			<div class = "participants-area">
				{% if participants %}
						<ul class = list-group style="list-style: none;">
						{% for s in participants %}
			              	<li class="list-group-item-light custom ">
								{{ s.name }} - {{ s.degree_program }}
							</li>
						{% endfor %}
						</ul>
				{% else %}
					<p class="mt-3" style="text-align: center"> No participants yet. </p>
				{% endif %}
			</div>

			 {% if user.is_authenticated%}
			 	{% if not user.is_staff %}
			    	{% if user_joined %}
					    <form class="col-lg-12 mt-4" action="{% url 'removeparticipant' %}" method="GET">
							<input type="hidden" value="{{ object.id }}" name="event" id="event">
							<input class="btn btn-join" type="submit" value="Unjoin">
						</form>
					{% else %}
						<form class="col-lg-12 mt-4" action="{% url 'addparticipant' %}" method="GET">
							<input type="hidden" value="{{ object.id }}" name="event" id="event">
							<input class="btn btn-join" type="submit" value="Join">
						</form>
					{% endif %}
				{% endif %}
		    {% endif %}
		</div>
	</div>  
	<!-- {% if user.is_authenticated%}
		{% if user.is_staff and id == object.author.pk %}
			<a class="btn btn-edit-delete mt-2 mr-2 ml-2" href="{% url 'event-update' object.id%}"><b>Edit</b></a>
			<a class="btn btn-edit-delete mt-2" href="{% url 'event-delete' object.id%}"><b>Delete</b></a>
		{% endif %}
	{% endif %} -->
{% endblock content %}