<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016-->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>
		{% for event in events%}
			<p> {{ event.title }}</p>
			<p> By {{ event.author }} on {{ event.date_posted }}</p>
			<p> {{ event.description }}</p>
			<p>________________________________________</p>
		{% endfor %}
	</h1>
</body>
</html>