<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016-->

<!-- 
	02/08/19
	Allure Tanquintic
		modified display layout
 -->
<!--
	02/17/19
	Patrick Joseph Sanchez
		added condition in displaying the edit and delete buttons
-->
<!--
	02/21/19
	Christel Anne Espino
		added get request for daily view
-->
<!--
	03/08/19
	Christel Anne Espino
		added announcements sidebar
-->
<!--
	03/22/19
	Allure Tanquintic
		fixed layout of announcement and calendar 
    
  04/09/2019
  Allure Tanquintic
    Updated UI 

  04/22/2019
  Allure Tanquintic
    Added modal for announcement 
 -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Iskolendar</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'maincalendar/main.css' %}">
<link href="{% static 'maincalendar/calendar/packages/core/main.css' %}" rel='stylesheet'/>
<link href="{% static 'maincalendar/calendar/packages/daygrid/main.css' %}" rel='stylesheet'/>
<script src="{% static 'maincalendar/calendar/packages/core/main.js' %}"></script>
<script src="{% static 'maincalendar/calendar/packages/interaction/main.js' %}"></script>
<script src="{% static 'maincalendar/calendar/packages/daygrid/main.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid' ],
      editable: false,
      selectable: true,
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      // dateClick: function(event) {
      //   alert('clicked ' + event.date);
      //   // alert('Event: ' + info.title); 
      //   // document.getElementById('daily-view').innerHTML= 
      // },
      // eventClick: function(event) {
      //     alert('Event: ' + event.title);
      // },
      
      eventLimit: true, // allow "more" link when too many events
      events: [                   // get event details 
        {% for event in data %}
        {
          id: "{{ event.id }}",
          title: "{{ event.title }}",
          start: "{{ event.start }}",
          end: "{{ event.end }}",
        },
        {% endfor %}
      ]
    });

    calendar.render();
  });

</script>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'maincalendar' %}">
          <img src="{% static 'maincalendar/iskolendar-logo.png' %}" width="135" height="44.25"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class ="nav-item active">
                <a class="nav-link" href="{% url 'maincalendar' %}">Main Calendar
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {% if user.is_authenticated %}
                {% if not org %}
                <li class ="nav-item">
                  <a class="nav-link" href="{% url 'personal-calendar' %}">My Calendar</a>
                </li>
                {% endif %}
                <li class ="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
                <li class ="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="columnsContainer">
    <div class="leftColumn" id='calendar'></div>

    <!-- SECTION LABELS -->
    <a class="announcementHeader" href="{% url 'announcement-view' %}">
      <img class="imgshadow" src="{% static 'maincalendar/announcements.png' %}">
    </a>
    <img class="eventsHeader" src="{% static 'maincalendar/events.png' %}">

    <div class="scroll">
      <div class="righttopColumn">
        <div class="announcementslist">
          {% if announcements %}
            {% for announcement in announcements %} 
              <a data-toggle="modal" data-target="#announcement-item{{ announcement.id }}">
                <ul id='rcolumn' class="list-group">
                  <li class="list-group-item-light ml-4 shortenlines">
                    <h5>{{ announcement.event }}</h5>
                  </li>
                  <li class="list-group-item-light ml-4 shortenlines">
                    <p style="font-size: 9pt;">{{ announcement.date_posted }}</p>
                  </li>
                  <li class="list-group-item-light ml-4 shortenlines">
                    <p> [{{ announcement.subject }}] </p>
                  </li>
                  <li align="center">
                    {% if org and id == announcement.author.pk %}
                        <a class="btn btn-custom mt-2 mr-3" href="{% url 'announcement-update' announcement.id%}"><b>Edit</b></a>
                        <a class="btn btn-custom mt-2" href="{% url 'announcement-delete' announcement.id%}"><b>Delete</b></a>
                    {% endif %}
                  </li>
                </ul>
              </a>

              <!-- Modal -->
              <div class="modal fade" id="announcement-item{{ announcement.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header sidepane-modal">
                      <h4 class="modal-title" id="exampleModalLongTitle" style="color: #ffffff;">{{ announcement.event }}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5><b>{{ announcement.subject }}</b></h5>
                      <p style="font-size: 9pt;">{{ announcement.date_posted }}</p>
                      <br>
                      <p>{{ announcement.body }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}    
          {% else %}
            <p class="mt-3" style="text-align: center"> No announcement this week. </p>
          {% endif %}
          <ul style="list-style: none;">
          <li align="center">
            <a class="btn btn-custom mt-2 mr-2 ml-2" href="{% url 'announcement-view' %}"><b>View All</b></a>
          </li>
          </ul>
        </div>
      </div>
    </div>

      {% if org%}
        <a class="addbutton announcement" href="{% url 'announcement-create' %}">
          <img src="{% static 'maincalendar/add.png' %}"/>
        </a>
      {% endif %}
 
      <div class="rightbottomColumn">
        {% if events %}
          {% if orgevents %}
          {% for event in orgevents %}
            <a href="{% url 'event-detail' event.id%}">
            <ul id='rcolumn' class="list-group">
              <li class="list-group-item-light ml-4 shortenlines">
                <h5> {{ event.title }}</h5>
              </li>
              <li class="list-group-item-light ml-4 shortenlines">
                <p style="font-size: 9pt;"> By: {{ event.orgname }} </p>
              </li>
              <li class="list-group-item-light ml-4 shortenlines">  
                {{ event.description|linebreaks }}
              </li>
              <li align="center">
                  <a class="btn btn-custom mt-2 mr-2 ml-2" href="{% url 'event-update' event.id%}"><b>Edit</b></a>
                  <a class="btn btn-custom mt-2" href="{% url 'event-delete' event.id%}"><b>Delete</b></a>
              </li>
            </ul>
          </a>
          {% endfor %}

          {% else %}
          {% for event in events %}
          <a href="{% url 'event-detail' event.id%}">
            <ul id='rcolumn' class="list-group">
              <li class="list-group-item-light ml-4 shortenlines">
                <h5> {{ event.title }}</h5>
              </li>
              <li class="list-group-item-light ml-4 shortenlines">
                <p style="font-size: 9pt;"> By: {{ event.orgname }} </p>
              </li>
              <li class="list-group-item-light ml-4 shortenlines">  
                {{ event.description|linebreaks }}
              </li>
            </ul>
          </a>
          {% endfor %}
          {% endif %}
        {% else %}
          <p class="mt-3" style="text-align: center"> Nothing to display. </p>
        {% endif %}
        <ul style="list-style: none;">
          <li align="center">
            <a class="btn btn-custom mt-2 mr-2 ml-2" href="{% url 'event-view' %}"><b>View All</b></a>
          </li>
        </ul>
      </div> 
    </div>
    {% if org%}
      <a class="addbutton event" href="{% url 'event-create' %}">
        <img src="{% static 'maincalendar/add.png' %}"/>
      </a>
    {% endif %}
  </div>

  <!-- <script type="text/template" id="myHtml">
    <h6><form action="{% url 'daily-view' %}" method="GET">
      <input type="hidden" value="{{ event.date_start }}" name="date" id="date">
      <input type="submit" value="{{ event.date_start }}">  
    </form></h6>
  </script> -->
</body>
</html>