<!--#This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016-->

<!--
02/17/19
	Patrick Joseph Sanchez
		created the initial form for login page
-->

{% extends "maincalendar/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">Log in</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-custom" type="submit" style="height: 35px; font-size: 10pt;">LOGIN</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
			</small>
		</div>
	</div>
{% endblock content %}