<!--#This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016-->

<!--
02/17/19
	Patrick Joseph Sanchez
		created the initial form for register page
-->

{% extends "maincalendar/index.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset >
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form.as_p }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
			</small>
		</div>
	</div>
{% endblock content %}